@import "tailwindcss";

body{
    background-color: #121212;
    color: white;
}

/* Hide scrollbar for Webkit, Firefox, and Edge */
.scrollbar-hide {
  -ms-overflow-style: none;     /* IE and Edge */
  scrollbar-width: none;        /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;                /* Safari and Chrome */
}
